PyPDF2
PyYAML
biopython
boto3
brewer2mpl
coveralls
cython
deap
ete3
ftpretty
gffutils
goatools
graphviz
jinja2
matplotlib
more-itertools
natsort
networkx
numpy
ortools
rich
scikit-image
scipy
seaborn
webcolors
