name: Black Formatting
on: [pull_request]
jobs:
  black:
    # Only run if not from dependabot AND not from a fork
    if: ${{ github.actor != 'dependabot[bot]' && github.event.pull_request.head.repo.fork != true }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Black Code Formatter
        uses: psf/black@stable
        with:
          options: "--verbose"
          src: "."
      - name: Commit changes
        if: success()
        uses: stefanzweifel/git-auto-commit-action@v7
        id: auto-commit-action
        with:
          commit_message: "Style fixes by Black"
