name: CITATION.cff Validator
on:
  push:
    paths:
      - CITATION.cff
  workflow_dispatch:
jobs:
  Validate-CITATION-cff:
    runs-on: ubuntu-latest
    name: Validate CITATION.cff
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Validate CITATION.cff
        uses: dieghernan/cff-validator@v4
